*{
	margin:0;
	padding:0;
}
.page{
	height:400px;
	width: 100%;
	position: relative;
}
.page0 .inner {
	position: relative;
	height: 400px;
	width: 80%;
	background-color: rgb(238, 238, 238);
	margin: 1px auto;
}
.page1 .inner{
	position: relative;
	height:400px;
	width: 80%;
	background-color: #eee;
	margin:1px auto;
}
.page2 .inner {
	position: relative;
	height: 400px;
	width: 80%;
	background-color: rgb(170, 155, 155);
	margin: 1px auto;
}
.page3 .inner {
	position: relative;
	height: 400px;
	width: 80%;
	background-color: rgb(176, 163, 233);
	margin: 1px auto;
}
.page4 .inner {
	position: relative;
	height: 400px;
	width: 80%;
	background-color: rgb(242, 247, 199);
	margin: 1px auto;
}


.page1 .inner .box{
	height: 60px;
	width: 60px;
	background-color: orange;
	position: absolute;
	top:100px;
	left:100px;
}
.page [data-animate]{
	height:100px;
	width:100px;
	background-color: aqua;
	position: absolute;
}